.row {
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 48em) {
    .col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: .5em;
        padding-left: .5em;
    }
}